* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

:root {
  --app-bg: #262626;
  --slider-border: #299399;
  --slider-controls: #dddddd;
}

body {
  background-color: var(--app-bg);
  font-size: 16px;
}

.slider-wrapper {
  width: 768px;
  margin: 40px auto;
}

.slider {
  display: flex;
  width: 40rem;
  height: 30rem;
  border: 10px solid var(--slider-border);
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__hidden-btn {
  display: none;
}

.slides {
	height: inherit;
	width: inherit;
  flex-shrink: 0;
  opacity: 0;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide-1 {
  background-image: url(assets/images/mem.jpg);
  background-position: center;
  background-size: contain;
}

.controls-btn {
  cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	transition: background ease-in-out .5s;
  -webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
}

.controls-btn:after {
  border: 2px solid var(--slider-controls);
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

.controls-btn:hover {
	background: var(--slider-controls);
}

#slide-1:checked ~ .slider > .slides {
  opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
#slide-1:checked ~ .slider-controls > .controls-btn[for="slide-1"] {
  background: var(--slider-controls);
  opacity: 1;
}

#slide-2:checked ~ .slider > .slides {
  -webkit-transform: translateX(-640px);
	-moz-transform: translateX(-640px);
	-o-transform: translateX(-640px);
  transform: translateX(-640px);
  transition: 0.5s ease-in-out;
}
#slide-2:checked ~ .slider-controls > .controls-btn[for="slide-2"] {
  background: var(--slider-controls);
  opacity: 1;
}

#slide-3:checked ~ .slider > .slides {
  -webkit-transform: translateX(-1280px);
	-moz-transform: translateX(-1280px);
	-o-transform: translateX(-1280px);
  transform: translateX(-1280px);
  transition: 0.5s ease-in-out;
}
#slide-3:checked ~ .slider-controls > .controls-btn[for="slide-3"] {
  background: var(--slider-controls);
  opacity: 1;
}

#slide-4:checked ~ .slider > .slides {
  -webkit-transform: translateX(-1920px);
	-moz-transform: translateX(-1920px);
	-o-transform: translateX(-1920px);
  transform: translateX(-1920px);
  transition: 0.5s ease-in-out;
}
#slide-4:checked ~ .slider-controls > .controls-btn[for="slide-4"] {
  background: var(--slider-controls);
  opacity: 1;
}

#slide-5:checked ~ .slider > .slides {
  -webkit-transform: translateX(-2560px);
	-moz-transform: translateX(-2560px);
	-o-transform: translateX(-2560px);
  transform: translateX(-2560px);
  transition: 0.5s ease-in-out;
}
#slide-5:checked ~ .slider-controls > .controls-btn[for="slide-5"] {
  background: var(--slider-controls);
  opacity: 1;
}