* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

:root {
  --app-bg: #262626;
  --slider-border: #299399;
  --slider-controls: #dddddd;
  --memes-text: #ffffff;
}

body {
  background-color: var(--app-bg);
  font-size: 16px;
}

.slider-wrapper {
  max-width: 768px;
  margin: 40px auto;
}

.slider {
  display: flex;
  width: 640px;
  height: 480px;
  border: 10px solid var(--slider-border);
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__hidden-btn {
  display: none;
}

.slides {
	width: calc(640px - 20px);
	height: calc(480px - 20px);
  flex-shrink: 0;
  opacity: 0;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slides {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-1 {
  background-image: url(assets/images/memes1.jpg);
}
.slide-2 {
  background-image: url(assets/images/memes2.jpg);
}
.slide-3 {
  background-image: url(assets/images/memes3.png);
}
.slide-4 {
  background-image: url(assets/images/memes4.png);
}
.slide-5 {
  background-image: url(assets/images/memes5.jpg);
}


.slider-memes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  margin: 20px auto 0;
}

.slider-text-wrapper {
  display: flex;
  width: 65%;
  height: 15%;
  overflow: hidden;
}

.slider-text {
  display: none;
  width: 100%;
  font-family: Bangers;
  font-size: 24px;
  flex-shrink: 0;
  opacity: 0;
  color: var(--memes-text);
}


.controls-btn {
  cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 0 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	transition: background ease-in-out .5s;
  -webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
}

.controls-btn:after {
  border: 2px solid var(--slider-controls);
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

.controls-btn:hover {
	background: var(--slider-controls);
}

#slide-1:checked ~ .slider > .slides {
  opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
#slide-1:checked ~ .slider-memes > .slider-controls > .controls-btn[for="slide-1"] {
  background: var(--slider-controls);
  opacity: 1;
}
#slide-1:checked ~ .slider-memes > .slider-text-wrapper > .slider-text-1 {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#slide-2:checked ~ .slider > .slides {
  opacity: 1;
  -webkit-transform: translateX(-620px);
	-moz-transform: translateX(-620px);
	-o-transform: translateX(-620px);
  transform: translateX(-620px);
  transition: 0.5s ease-in-out;
}
#slide-2:checked ~ .slider-controls > .controls-btn[for="slide-2"] {
  background: var(--slider-controls);
  opacity: 1;
}
#slide-2:checked ~ .slider-memes > .slider-text-wrapper > .slider-text-2 {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#slide-3:checked ~ .slider > .slides {
  opacity: 1;
  -webkit-transform: translateX(-1240px);
	-moz-transform: translateX(-1240px);
	-o-transform: translateX(-1240px);
  transform: translateX(-1240px);
  transition: 0.5s ease-in-out;
}
#slide-3:checked ~ .slider-memes > .slider-controls > .controls-btn[for="slide-3"] {
  background: var(--slider-controls);
  opacity: 1;
}
#slide-3:checked ~ .slider-memes > .slider-text-wrapper > .slider-text-3 {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#slide-4:checked ~ .slider > .slides {
  opacity: 1;
  -webkit-transform: translateX(-1860px);
	-moz-transform: translateX(-1860px);
	-o-transform: translateX(-1860px);
  transform: translateX(-1860px);
  transition: 0.5s ease-in-out;
}
#slide-4:checked ~ .slider-memes > .slider-controls > .controls-btn[for="slide-4"] {
  background: var(--slider-controls);
  opacity: 1;
}
#slide-4:checked ~ .slider-memes > .slider-text-wrapper > .slider-text-4 {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#slide-5:checked ~ .slider > .slides {
  opacity: 1;
  -webkit-transform: translateX(-2500px);
	-moz-transform: translateX(-2500px);
	-o-transform: translateX(-2500px);
  transform: translateX(-2500px);
  transition: 0.5s ease-in-out;
}
#slide-5:checked ~ .slider-memes > .slider-controls > .controls-btn[for="slide-5"] {
  background: var(--slider-controls);
  opacity: 1;
}
#slide-5:checked ~ .slider-memes > .slider-text-wrapper > .slider-text-5 {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .slider-wrapper {
    max-width: 480px;
    margin: 20px auto;
  }
  .slider {
    width: 400px;
    height: 280px;
  }
  .slides {
    width: calc(400px - 20px);
    height: calc(280px - 20px);
  }
  .slider-memes {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto 0;
  }
  .slider-text {
    width: 100%;
    text-align: center;
  }

  .slider-controls {
    margin-top: 20px;
  }
  #slide-1:checked ~ .slider > .slides {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  #slide-2:checked ~ .slider > .slides {
    -webkit-transform: translateX(-380px);
    -moz-transform: translateX(-380px);
    -o-transform: translateX(-380px);
    transform: translateX(-380px);
  }
  #slide-3:checked ~ .slider > .slides {
    -webkit-transform: translateX(-760px);
    -moz-transform: translateX(-760px);
    -o-transform: translateX(-760px);
    transform: translateX(-760px);
  }
  #slide-4:checked ~ .slider > .slides {
    -webkit-transform: translateX(-1140px);
    -moz-transform: translateX(-1140px);
    -o-transform: translateX(-1140px);
    transform: translateX(-1140px);
  }
  #slide-5:checked ~ .slider > .slides {
    -webkit-transform: translateX(-1520px);
    -moz-transform: translateX(-1520px);
    -o-transform: translateX(-1520px);
    transform: translateX(-1520px);
  }
}